{% extends 'admin/base.html.twig' %}

{% block pageTitle %}{% trans %}admin.users{% endtrans %}{% endblock %}
{% block pageBody %}
    <h1>{% trans %}admin.users{% endtrans %}</h1>
    <div class="">
        <table class="table table-sm table-bordered table-hover text-center">
            <thead class="bg-dark text-light">
            <tr>
                <th>ردیف</th>
                <th>نام و نام‌خانوادگی</th>
                <th>پست الکترونیکی</th>
                <th>تاریخ عضویت</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for user in users %}
                <tr class="">
                    <td>{{ loop.index }}</td>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ Jdate.jdate('Y/n/d',user.dateSubmit) }}</td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}